body {
    font-family:'Source Sans Pro', sans-serif;
}
li {
    padding-bottom: 4px;
}

#start-prompt-screen {
    font-family:'Source Sans Pro', sans-serif;
    background-color: gray;
    color: white;
    text-align: center;
    vertical-align: middle;
    position: fixed;
    top:0;
    left:0;
    height: 100vh;
    width: 100vw;
    margin: auto;
}

#circle-of-fifths {
    position:relative;
    height: calc(min(85vh, 56vw));
    aspect-ratio: 1/1;
    margin-left: auto;
    margin-right: auto;
}

#circle-of-fifths-bg {
    border-radius: 50%;
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    max-height: 100%;
    transition: background-color 0.2s, border-color 0.2s;
    margin-left: -16px;
    margin-top: -8px;
    border: 16px solid #0000;
    overflow: hidden; /* so that we can put rotating stuff inside */
}

.cof-bg-during-manual {
    background-color: rgb(255, 255, 236);
    border-color: #0000;
}
.cof-bg-during-autocompose {
    animation-name: anim-border-flasher;
    animation-duration: 3s; /* 80bpm */
    animation-iteration-count:infinite;
    animation-timing-function: ease-in-out;
    animation-direction:alternate;
    
    background-color:rgb(255, 240, 238);
}

@keyframes anim-border-flasher {
    0% {
        border-color: rgb(255, 187, 132);
    }
    50% {
        border-color: rgb(255, 230, 160);
    }
    100% {
        border-color:rgb(255, 158, 166);
    }
}

.basspad-circle {
    width:calc(min(160px, 19vh, 13vw));
    height:calc(min(160px, 19vh, 13vw));
    background-color:rgb(222, 237, 255);
    border-radius: 50%;
}
.basspad-circle:hover, .basspad-circle.pad-highlight {
    width:calc(min(170px, 20vh, 14vw));
    height:calc(min(170px, 20vh, 14vw));
    background-color: rgb(244, 255, 253);
}
.basspad-tonnetz {
    width:calc(min(160px, 18vh, 13vw));
    height:calc(min(160px, 18vh, 13vw));
    background-color:#ffebb0;
    border-radius: 10%;
}
.basspad-tonnetz:hover, .basspad-tonnetz.pad-highlight {
    z-index: 4;
    width:calc(min(170px, 19vh, 13.7vw));
    height:calc(min(170px, 19vh, 13.7vw));
    background-color: #fffada;
}
.basspad-chromatic-whitekey {
    width:calc(min(120px, 12vh, 9vw));
    height:calc(min(320px, 40vh, 30vw));
    background-color:ivory;
    border-radius: 10px;
}
.basspad-chromatic-whitekey:hover, .basspad-chromatic-whitekey.pad-highlight {
    z-index: 3;
    width:calc(min(130px, 13vh, 9vw));
    height:calc(min(330px, 41vh, 32vw));
    background-color: white;
}
.basspad-chromatic-blackkey {
    width:calc(min(60px, 7vh, 5vw));
    height:calc(min(240px, 32vh, 25vw));
    background-color:lightblue;
    border-radius: 10px;
    z-index: 4;
}
.basspad-chromatic-blackkey:hover, .basspad-chromatic-blackkey.pad-highlight {
    z-index: 6;
    width:calc(min(65px, 8vh, 6vw));
    height:calc(min(250px, 33vh, 26vw));
    background-color: lightcyan;
}

.basspad, .voicingpad {
    z-index: 3;
    font-size: calc(min(30pt, 5vh, 5vw));
    float:left;
    position:absolute;
    user-select: none;
    border: 1px solid black;
    
    text-align: center;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    touch-action: none;
    -webkit-tap-highlight-color: transparent;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    box-shadow: 1px 12px 14px -8px rgba(0,0,0,0.73);
    -webkit-box-shadow: 1px 12px 14px -8px rgba(0,0,0,0.73);
    -moz-box-shadow: 1px 12px 14px -8px rgba(0,0,0,0.73);
}
.voicingpad {
    cursor: pointer;
    position: static;
    float: none;
    transform: none;
    background-color: #dcffdc;
    border-radius: 10px;
    margin: 2px;
}
.voicingpad:active, .voicingpad.pad-clicked {
    background-color: rgb(190, 242, 255);
    transform: scale(0.95);
}
.basspad-long-transitions {
    transition: top 0.3s, left 0.3s, border-radius 0.3s, background-color 0.3s, box-shadow 0.2s, -webkit-box-shadow 0.2s, -moz-box-shadow 0.2s, transform 0.2s, -webkit-transform 0.2s, width 0.2s, height 0.2s;
}
.basspad-short-transitions {
    transition: top 0.3s, left 0.3s, border-radius 0.3s, background-color 0.15s, box-shadow 0.15s, width 0.2s, height 0.2s;
}
.basspad:hover, .basspad.pad-highlight {
    box-shadow: 1px 12px 30px -8px rgba(0,0,0,0.73);
    -webkit-box-shadow: 1px 12px 30px -8px rgba(0,0,0,0.73);
    -moz-box-shadow: 1px 12px 30px -8px rgba(0,0,0,0.73);
}
.basspad-during-autocompose {
    cursor: pointer;
}
.basspad-during-autocompose:hover, .basspad-during-autocompose.pad-highlight {
    background-color:rgb(190, 242, 255);
}
.basspad-during-autocompose:active, .basspad-during-autocompose.pad-clicked, .basspad.pad-clicked {
    background-color:rgb(190, 242, 255);
    transform: translate(-50%) scale(0.925);
    -webkit-transform: translate(-50%) scale(0.925);
}
/* for both the collapsible toggle-button and autocomposer-button */
.button-shadow {
    box-shadow: 1px 6px 10px -8px rgba(0,0,0,0.73);
    -webkit-box-shadow: 1px 6px 10px -8px rgba(0,0,0,0.73);
    -moz-box-shadow: 1px 6px 10px -8px rgba(0,0,0,0.73);
}
.button-shadow:hover {
    box-shadow: 1px 6px 20px -8px rgba(0,0,0,0.73);
    -webkit-box-shadow: 1px 6px 20px -8px rgba(0,0,0,0.73);
    -moz-box-shadow: 1px 6px 20px -8px rgba(0,0,0,0.73);
}
.toggle-button {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: calc(min(12pt, 3vw));
    display:inline-block;
    border-radius: 10px;
    padding-left: 16px;
    padding-right: 8px;
    min-height: 32px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
    background-color: rgb(245, 245, 255);
    
    border: 1px solid slategrey;
    transition: background-color 0.1s, box-shadow 0.1s, transform 0.08s;
}
.toggle-button:hover {
    background-color:rgb(190, 242, 255);
    
}
.toggle-button:active {
    transform: scale(0.95);
}
.container {
    display:flex;
    flex-wrap:wrap;
    row-gap: 32px;
    column-gap: 8px;
    margin-left: 3vw;
    margin-right: 3vw;
}

#chord-symbol-display {
    color:lightgray;
    font-size: calc(min(100pt, 26vh, 25vw));
    min-height: calc(min(122pt, 32vh, 27vw));
    width: 99%;
    vertical-align: middle;
    text-align: center;
    margin: auto;
    overflow: hidden;
    border-radius: 10px;
    border: 2px dashed cornflowerblue;
    line-height:1.05em;
}

.panel {
    width: calc(max(300px, 33vw));
    position: relative;
    padding-left: 6px;
    padding-right: 6px;
    margin-left: auto;
    margin-right: auto;
    max-height: 85vh;
}
.panel-scrollable-section {
    max-height: 55%;
    overflow-y: auto;
    scrollbar-gutter: stable both-edges;
    overflow-x: hidden;
}
#panel-voicingpads {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: auto repeat(4, 1fr);
    top: -30px;
    right: -38px;
    z-index: 5;
    width: calc(max(50vh, 40vw));
    max-height: 0vh;
    box-shadow: 1px 6px 20px -8px rgba(0,0,0,0.73);
    -webkit-box-shadow: 1px 6px 20px -8px rgba(0,0,0,0.73);
    -moz-box-shadow: 1px 6px 20px -8px rgba(0,0,0,0.73);
}
#panel-voicingpads.collapsible-content-active {
    max-height: 90vh;
    min-height: calc(min(85vh, 100vw));
}

ul#list-chord-keyboard-mapping {
    columns: 3;
    -moz-columns: 3;
    -webkit-columns: 3;
}

#debugbox {
    font-family:'Courier New', Courier, monospace;
}
.voicingpads-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.collapsible-container {
    display:block;
    margin-top: 1em;
    margin-bottom: 1em;
}
.collapsible-content {
    font-size: calc(min(12pt, 4vh));
    background-color:aliceblue; 
    width: 96%; 
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0;
    padding-bottom: 0;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s, padding-top 0.2s, padding-bottom 0.2s;
}
.collapsible-content-active {
    /* display: flex;  */
    padding-top: 10px;
    padding-bottom: 10px;
    max-height: 100%;
    overflow-y:auto
}
.collapsible-button-caret {
    transform:translateX(-10px);
}
.autocomposer-ui-row {
    display: flex;
}
.autocomposer-child {
    margin: 6px;
}
.autocomposer-button {
    border-radius: 12px;
    border: 1px solid black;
    background-color:slategrey;
    color: white;
    display:inline-block;
    text-align: center;
    font-size: 1.75rem;
    /* font-weight: 700; */
    padding: 10px 15px;
    
    cursor:pointer;
    user-select: none;
    
    transition: background-color 0.1s, transform 0.08s, box-shadow 0.1s, -webkit-box-shadow 0.1s, -moz-box-shadow 0.1s;
}
.autocomposer-button:hover {
    background-color:steelblue;
    box-shadow: 1px 6px 20px -8px rgba(0,0,0,0.73);
    -webkit-box-shadow: 1px 6px 20px -8px rgba(0,0,0,0.73);
    -moz-box-shadow: 1px 6px 20px -8px rgba(0,0,0,0.73);
}
.autocomposer-button:active {
    transform: scale(0.9);
}
.autocomposer-display {
    /* border: 1px dashed black; */
    border-radius: 12px;
    display: inline-block;
    background-color:darkslategray;
    color: white;
    font-size: 10pt;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 14px;
    padding-bottom: 20px;
    height: 32px;
    width: 100%;
    vertical-align: middle;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}
.autocomposer-display-playhead-animated {
    animation-name: anim-playhead;
    animation-duration: 3s; /* 80bpm */
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    background: linear-gradient(90deg, darkslategray 0%, darkslategray 48%, rgb(190, 242, 255) 50%, darkslategray 50%);
    background-size: 200% 200%;
}
@keyframes anim-playhead {
    from {
        background-position: 100%
    }
    to {
        background-position: 0%
    }
}
.autocomposer-info-display-text {
    max-width: 99%;
    white-space: nowrap;
    line-height: 1.2em;
    overflow-x: visible;
}
.autocomposer-queue-item {
    font-size: 0.8rem;
    text-align: center;
    display: inline-block;
    height: 1.75rem;
    background-color: white;
    border: 2px solid cornflowerblue;
    border-radius: 5px;
    color:black;
    font-weight: 700;
    margin-right: 2px;
    margin-left: 1px;
    min-width: 1.5em;
    padding: 2px;
    line-height: 1.1em;
    animation: anim-appear;
    animation-timing-function: ease-in;
    animation-duration: 0.08s;
    animation-iteration-count: 1;
}
@keyframes anim-appear {
    from {transform: scale(0.8);}
    to {transform: scale(1.0);}
}
.autocomposer-display-flashing-animated {
    animation: anim-queue-display-flash;
    animation-timing-function: ease-out;
    animation-duration: 3s; /* 80bpm, change this if bpm is changeable */
    animation-iteration-count: infinite;
}
@keyframes anim-queue-display-flash {
    0% {background-color: rgb(190, 242, 255);}
    33%, 100% {background-color: darkslategrey;}
    
}